<section class="products-section products_section-watches">
    <!-- SECTION QUARTZ EDITION START -->
    <h2 class="main_title text-center">Quartz Edition</h2>
    <div class="container">
        <div class="row">
                {% for product in quartz_products %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product_card text-center">
                        <div class="product_card-basket">
                            <a href="#" class="product_card_basket-link basket_icon">
                                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 3.42445C10.1556 3.42445 10.3022 3.35205 10.3969 3.2286C..."
                                          stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                        <a class="product_card-detail" href="">
                            <div class="w-100">
                                <img class="product_card-img img-fluid" src="{{ product.image.url  }}" alt="{{ product.title }}">
                            </div>
                            <div class="product_card-description">
                                <p class="product_card-name">{{ product.title }}</p>
                                <p class="product_card-desc">{{ product.info }}</p>
                                <p class="product_card-price">${{ product.price }}</p>
                            </div>
                        </a>
                        <a href="" class="product_card-btn">BUY</a>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
    <!-- SECTION QUARTZ EDITION END -->