{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock title %}
{% block main %}
    <h2 class="main_title text-center">Your Basket</h2>
    <div class="container">
        <div class="row">
                {% for product in products %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product_card text-center">
                        <div class="product_card-basket">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'basket_remove' product.pk %}" class="product_card_basket-link basket_icon">
                            {% else %}
                                    <a href="{% url 'signin' %}" class="product_card_basket-link basket_icon">
                            {% endif %}
                                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 3.42445C10.1556 3.42445 10.3022 3.35205 10.3969 3.2286C..."
                                          stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                        <a class="product_card-detail" href="{% url 'detail' product.pk %}">
                            <div class="w-100">
                                <img class="product_card-img img-fluid" src="{{product.product.get_image}}" >
                            </div>
                            <div class="product_card-description">
                                <p class="product_card-name">{{ product.product.title }}</p>
                                <p class="product_card-desc">{{ product.product.info }}</p>
                                <p class="product_card-price">${{ product.product.price }}</p>
                            </div>
                        </a>
                        <div class="product_card-quantity d-flex justify-content-center align-items-center">
                            <form action="{% url 'basket_update' product.pk %}" method="POST" class="d-flex align-items-center">
                                {% csrf_token %}
                                <input type="number" name="quantity" value="{{ product.quantity }}" min="1" class="form-control form-control-sm mx-2" style="width: 60px;">
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock main %}
